#nav{
    background: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    color: black !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#logo{
    height: 100%;
    margin-left: 30px;
}

/* .nav_link{
    margin: 0px 20px;
} */

.login_link{
    display: block;
    text-decoration: none;
    color: black;
    line-height: 80px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 40px;
    border-left: 2px solid black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.login_link:hover{
    background: grey;
}